.App .container {
  min-width: 360px;
}

.App .wireframe {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px 30px;
  margin-top: 40px;
  max-width: 800px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.App .open-source {
  margin-top: 20px;
  font-size: 14px;
}
