.wireframe {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px 30px;
  margin-top: 40px;
  max-width: 400px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
