h1 {
  margin-top: 20px !important;
}

input {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  height: 40px;
  margin-top: 7px;
}

button {
  height: 38px;
  margin-top: 7px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #138496;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li::first-letter {
  text-transform: capitalize;
}

#search-form {
  margin-right: 10px;
}

.current-temperature {
  color: black;
  float: left;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  padding-left: 20px;
}

.styled-scale {
  font-weight: bold;
}

.unstyled-scale {
  color: gray;
}

.weather-icon-now {
  width: 80px;
  height: 80px;
}
