.WeatherForecast {
  text-align: center;
}

.WeatherForecast .ForecastPreview {
  padding-left: 0 !important;
}

.WeatherForecast .time {
  font-weight: bold;
  font-size: 16px;
}

.WeatherForecast img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
}

.WeatherForecast .temperature {
  margin-top: 5px;
  margin-bottom: 15px;
}

.WeatherForecast .max-temperature {
  font-weight: bold;
}

.WeatherForecast .min-temperature {
  color: #138496;
}
